<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content">
        <div class="stores-container">
            <div class="store">
                <h2>Cơ Sở 1</h2>
                <img src="/images/CS1.png" alt="Cơ Sở 1 - 6 Trần Thái Tông, Cầu Giấy">
                <p>Địa chỉ: Số 6 Trần Thái Tông, Cầu Giấy, Hà Nội</p>
                <p>Điện thoại: 097.2005.226</p>
                <p>Hotline: 0989.780.789</p>
            </div>
            
            <div class="store">
                <h2>Cơ Sở 2</h2>
                <img src="/images/CS2.png" alt="Cơ Sở 2 - 15 Nguyễn Khuyến, Văn Quán">
                <p>Địa chỉ: Số 15 Nguyễn Khuyến, Văn Quán, Hà Đông, Hà Nội</p>
                <p>Điện thoại: 089.663.1696 / 0586.928.928</p>
                <p>Hotline: 0989.780.789</p>
            </div>
        </div>
    </div>
</body>
</html>