<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="menu" id="Menu" th:fragment="content">
        <h1><span>MENU</span></h1>

        <div class="menu_box">
            <div th:each="sp,iterStat : ${sanPhamList}" class="menu_card" th:attr="data-index=${iterStat.index}" th:onclick="|window.location.href='/product/' + ${sp.id}|" style="cursor:pointer;">
                <div class="menu_image">
                    <img th:src="@{'/images/' + ${sp.hinhAnh}}" th:alt="${sp.tenSanPham}" />
                </div>
                <div class="menu_info">
                    <h2 th:text="${sp.tenSanPham}"></h2>
                    <p th:text="${sp.moTa}"></p>
                    <h3 th:text="${#numbers.formatInteger(sp.gia, 1, 'COMMA') + ' VNĐ'}"></h3>
                </div>
                <a th:href="@{'/product/' + ${sp.id}}" class="menu_btn">Xem chi tiết</a>
                <!-- Ẩn dữ liệu chi tiết để JS lấy khi click -->
                <div class="product-data" style="display:none;"
                    th:data-id="${sp.id}"
                    th:data-name="${sp.tenSanPham}"
                    th:data-img="${sp.hinhAnh}"
                    th:data-price="${#numbers.formatInteger(sp.gia, 1, 'COMMA')}"
                    th:data-desc="${sp.moTa}">
                </div>
            </div>
        </div>


    </div>
</body>
</html>