<!DOCTYPE html>
<html lang="en">
<body>
    <footer th:fragment="footer">
        <div class="footer_main">
            <div class="footer_tag">
                <h2>THÔNG TIN CỬA HÀNG</h2>
                <div class="store-info">
                    <h3>Cơ Sở 1</h3>
                    <p><i class="fa-solid fa-location-dot"></i> Số 6 Trần Thái Tông, Cầu Giấy, Hà Nội</p>
                    <p><i class="fa-solid fa-phone"></i> 097.2005.226</p>
                </div>
                
                <div class="store-info">
                    <h3>Cơ Sở 2</h3>
                    <p><i class="fa-solid fa-location-dot"></i> Số 15 Nguyễn Khuyến, Văn Quán, Hà Đông, Hà Nội</p>
                    <p><i class="fa-solid fa-phone"></i> 089.663.1696 / 0586.928.928</p>
                </div>
                
                <div class="contact-info">
                    <p><i class="fa-solid fa-envelope"></i> hahuubac2004@gmail.com</p>
                    <p><i class="fa-solid fa-headset"></i> Hotline: 0989.780.789</p>
                    <p><i class="fa-solid fa-certificate"></i> ĐKKD số: 41A6003434 | Ngày cấp: 1/1/2024</p>
                </div>
            </div>

            <div class="footer_tag">
                <h2>CHÍNH SÁCH - QUY ĐỊNH</h2>
                <p><i class="fa-solid fa-angle-right"></i>HƯỚNG DẪN ĐẶT HÀNG VÀ THANH TOÁN</p>
                <p><i class="fa-solid fa-angle-right"></i>CHÍNH SÁCH GIAO HÀNG VÀ ĐỔI TRẢ</p>
                <p><i class="fa-solid fa-angle-right"></i>CHÍNH SÁCH BẢO MẬT THÔNG TIN</p>
                <p><i class="fa-solid fa-angle-right"></i>ĐIỀU KHOẢN SỬ DỤNG</p>
                <p><i class="fa-solid fa-angle-right"></i>CHÍNH SÁCH BẢO HÀNH</p>
            </div>

            <div class="footer_tag">
                <h2>KẾT NỐI VỚI CHÚNG TÔI</h2>
                <div class="social-links">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fa-brands fa-facebook"></i> Facebook
                    </a>
                    <a href="https://www.messenger.com/t/101520886067712/" target="_blank">
                        <i class="fa-brands fa-facebook-messenger"></i> Messenger
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fa-brands fa-instagram"></i> Instagram
                    </a>
                    <a href="https://www.tiktok.com/" target="_blank">
                        <i class="fa-brands fa-tiktok"></i> TikTok
                    </a>
                </div>
                
                <div class="business-hours">
                    <h3>GIỜ HOẠT ĐỘNG</h3>
                    <p>Thứ 2 - Chủ nhật: 8:00 - 22:00</p>
                    <p>Giao hàng: 24/7</p>
                </div>
            </div>
        </div>
        
        <!-- <div class="footer_bottom">
            <p>&copy; 2024 Cửa Hàng Cherry. All rights reserved.</p>
        </div> -->
    </footer>
</body>
</html>